*{
margin: 0;
padding: 0;
}
.navbar{ 
width: 1200px;
height: 75px;
margin: auto;
}
.header{
    float: left;
    width: 200px;
    height: 75px;
}
.logo{
    color: blue;
    font-family: Arial;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}
.menu{
    float: left;
    width: 600px;
    height: 75px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style:none;
    margin-top: 20px;
    margin-left: 35px;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    color: #000;
    font-family: Arial;
    font-weight: bold;
}
ul li a:hover{
    color: aqua;
}
img{
    border-radius: 200px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.name{
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    font-style: italic;
    font-size: smaller;
    color: blue;
    margin-left:100px ;
    padding-bottom:20px;
}
.section{
width:150px;
height: 150px;
color:black;
position: absolute;
top: 140px;
left: 500px;
font-size: 30px;
}
span{
    color: orangered;
    font-size:60px;
}
.p{ 
    padding: 10px;
    font-style: italic;
    font-size: 20px;
    font-family: Arial;
    position: absolute;
    left: 500px;
    top: 350px;
    
}
.wwm{
    position:absolute;
    left: 530px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    background: orangered;
    border-radius:12px;
    width:150px;
    height: 50px;
    border: 0;
    cursor: pointer;
    transition: .4 ease;
    
}
.wwm a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
 .wwm:hover{
    background:greenyellow;
}


